body{
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    display: flex;
}
*{
    box-sizing: border-box;
}

body, ul, li{
    display: flex;
   
    }
    .gallery{
        margin: 120px 223px;
        
    } 
    .gallery ul{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .gallery li{
        border: 7px solid black;
        background: #FFFFFF;
        padding: 22px;
        margin: 15px 0;
        box-shadow: 1px 1px 12px -1px black;
        list-style-type: none;
        align-items: center;
        width: 30%;
    }
    img{
        width: 100%; 
    }
  

  

